# Title

Short description

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

# MYSQL to Python

In [2]:
import pymysql as sql
from credentials import credentials

## Stablishing a connection

In [5]:
user = credentials.get('USERNAME')
passwd = credentials.get('PASSWORD')

UndefinedValueError: PASSWORD not found. Declare it as envvar or define a default value.

In [ ]:
# creating connection
con = sql.connect(
                host = '127.0.0.1', user = user, passwd = passwd) #optional - db="schema_name"

In [ ]:
cursor = con.cursor()

## Executing SQL statements

In order to run MySQL comands within Python, we need to use the **execute()** function. <br> <br>

A Database has been created from MySQL Workbench, so now let's create a table from Python. <br>
After specifying which DB to use and writing the Table's attributes, we must **commit** for the commands to take action.

In [ ]:
cursor.execute("USE drinksDB;")
cursor.execute("DROP TABLE IF EXISTS Drinks;")
cursor.execute("""
CREATE TABLE IF NOT EXISTS Drinks(
    Country VARCHAR(50) NOT NULL,
    Beer_servings INT NOT NULL,
    Spirit_servings INT NOT NULL,
    Wine_servings INT NOT NULL,
    Total_litres_of_pure_alcohol FLOAT NOT NULL,
    Continent VARCHAR(2) );
""")

In [ ]:
con.commit()

## INSERT

Before we insert the values, we need to clean the data. Let's start by using Pandas to read the csv file.

In [ ]:
raw_data = pd.read_csv('drinks.csv')
df = raw_data.copy()
df.head()

Now, observe that there are 23 null values in the *continent* column. We need to assign valid values to them.

In [ ]:
df.isnull().sum()

In [ ]:
df['continent'].unique()

Seems like **SA** represents *South America*, and we see no **NA**. So, let's visualize the null values to be sure.

In [ ]:
df.query('continent != continent')

There seems to be only American countries in the list, so let's give it the right values.

In [ ]:
for i in [32, 109, 184]:
    df['continent'][i] = 'NA'
for i in list( set(df.query('continent != continent').index) - set([32, 109, 184])  ):
    df['continent'][i] = 'SA'

In [ ]:
df.query('continent == "NA"')

Now, we need to create every single entry to INSERT it into the DB. We do the following: <br>
1) iterate throw df's rows.
2) Create a list containing each value in the row. (**arr**)
3) Join such list creating a separation with a coma. (**','.join(arr)**)
4) Create a list containing each of the entries. (**valueList**)
5) Join the list, separating each value with a coma. (**','.join(valueList)**)
6) Add a semicolon to indicate the last value to include and make the resulting string be called **values**.

In [ ]:
valueList = []

colNames = list(df.columns)
for index,row in df.iterrows():
    arr=['"' + str(row[col]) + '"' for col in colNames]
    valueList.append( '(' + ','.join(arr) + ')' )

values = ', '.join(valueList)+';'
values

Finally, create the INSERT query with a separator (placeholder), execute it substituting %s by **values** and commit.

In [ ]:
query = """
INSERT INTO drinks values %s
""" %(values)

In [ ]:
cursor.execute("""
INSERT INTO drinks values %s
""" % values)

In [ ]:
con.commit()

## SELECT

# Analysis

# Visualization

and some more text